<nav id="nav">
    <label id="toggler" for="hamburger">&#9776;</label>
    <div class="container">
        <input class="hide" type="checkbox" id="hamburger"/>
        <ul class="nav__item hide">
            <li class="nav__item__list"><a href="/">HOME</a></li>
            <li class="nav__item__list"><a href="/tweets">ALL TWEETS</a></li>
            <li class="nav__item__list"><a href="/tweets/new">NEW TWEET</a></li>
        </ul>
    </div>
</nav>