<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/error.css">
    <title>Error Page</title>
</head>
<body>
    <main class="container error--container">
        <h1>AN ERROR OCCURED...</h1>
        <h2><span id="error_detail">Details:</span> <%= err.message %></h2>
        <h2><span id="error_status">Status:</span> <%= err.status %> </h2>
    </main>
<%- include('partials/footer')%>