*{
    box-sizing: inherit;
}

:root{
    --fs-small: 1.25rem;
    --fs-regular: 1.5rem;
    --fs-medium: 1.75rem;
    --fs-large: 2rem;
    --fs-largest: 2.5rem;

    --prmry-clr: #1d3557;
    --scndry-clr: #457b9d;
    --btn-clr: #a8dadc;
    --light-clr: #f1faee;
    --accent-clr: #e63946;

    --gap: 10px;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-size: var(--fs-regular);
    margin: 0;
    font-family:  'Source Sans Pro', sans-serif;
    background-color: var(--scndry-clr);
    color: var(--light-clr);
}

#nav{
    padding: 1.5rem;
    font-size: var(--fs-large);
    font-weight: 700;
    background-color: var(--prmry-clr);
    color: var(--light-clr);
    letter-spacing: 2px;
    margin-bottom: 2rem;
}

.nav__item{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 2rem;
}

.nav__item__list + .nav__item__list{
    margin-top: 15px;
}

h1{
    font-size: var(--fs-largest);
    margin-bottom: 1em;
    margin-top: 0;
}

main{
    padding: 2rem 0;
    min-height: 70vh;
}

a{
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    padding: 0;
}

footer{
    text-align: center;
    font-size: var(--fs-largest);
    font-weight: 400;
    font-style: italic;
    padding: 2rem 0;
}

.tweet-container *{
    padding: .5rem 0;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.container{
    width: 80%;
    max-width: 750px;
    margin: 0 auto;
}

button{
    border: none;
}

.btn{
    color: var(--prmry-clr);
    font-weight: 700;
    text-align: center;
    border-radius: var(--gap);
    padding: .5em 1.5em;
    background-color: var(--btn-clr);
    max-width: max-content;
}

.btn-small{
    font-size: var(--fs-small);
    margin-left: var(--gap);
    display: inline-block;
}

.btn-med{
    display: block;
    font-size: var(--fs-medium);
    margin: 0 auto;
}

/* .btn-small:nth-of-type(1){
    margin-left: 0;
} */

.btn:hover{
    -webkit-transform: scale(1.1);
    -moz-transform:scale(1.1);
    -o-transform:skew(1.1);
    -ms-transform:scale(1.1);
    transform: scale(1.1);
}

#deleteButton{
    background-color: var(--accent-clr);
    color: var(--light-clr);
    margin-top: 1rem;
}

#cancelButton{
    margin-top: var(--gap);
}

@media(min-width: 520px){
    #toggler{
        display: none;
    }

    #deleteForm{
        float: right;
    }

    #nav .container{
        max-width: 600px;
    }

    .tweet-container{
        margin-bottom: 3rem;
    }

    .nav__item{
        padding-bottom: 0;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: flex-end;
    }

    .nav__item__list{
        display: inline-block;
    }
    
    .nav__item__list + .nav__item__list{
        margin-top: 0;
    }
}

@media(min-width: 750px){
    :root{
        --fs-small: 1.5rem;
        --fs-regular: 1.75rem;
        --fs-medium: 2rem;
        --fs-large: 2.5rem;
        --fs-largest: 3rem;

        --gap: 15px;
    }
}