<%- include('partials/head') %>
    <%- include('partials/nav') %>
        <main class="container">
            <h1>New Tweet</h1>
            <form action="/tweets" method="POST">
                <section>
                    <label for="username">Enter your username</label>
                    <input type="text" name="username" id="username" placeholer="username">
                </section>
                <section>
                    <label for="tweet">Enter your tweet</label>
                    <br>
                    <textarea name="tweet" id="tweet" cols="30" rows="5"></textarea>
                </section>
                <button class="btn-small btn">Create Tweet</button>
            </form>
    </main>
<%- include('partials/footer') %>