<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,200&display=swap" rel="stylesheet">
    <title>Edit Tweet</title>
</head>
<body>
    <h1>Editing <%= tweet.username %>'s tweet</h1>
    <form action="/tweets/<%=  tweet.id  %>?_method=PATCH" method="POST">
        <textarea name="tweet" id="" cols="30" rows="5">
            <%= tweet.tweet  %>
        </textarea>
        <br>
        <button>Submit</button>
    </form>
    <a href="/tweets/<%= tweet.id  %>">Cancel</a>
</body>
</html>